html{
  /*height: 100%;*/
}

body{
  /*height: 100%;*/
  margin: 0px;
}

/**** MAIN PROFILE PAGE STYLE ****/

.main_page{
  background: url(../images/mainBackground.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  font-family: 'Helvetica Neve', sans-serif;
  padding-top: 40px;
  padding-bottom: 140px;
  width:100%;
  margin: 0;
}

.main_profile_box{
  width:400px;
  height: auto;
  background: rgba(0, 0, 0, 0.6);
  padding: 40px;
  color: white;
  margin: 0 auto;
  margin-top: 10px;
  text-align: center;
  border-radius: 10%;
}

.main_profile_avatar_box{
  overflow: hidden;
  text-align: center;
}

.main_profile_pic{
  border-radius: 50%;
  height:200px;
  width:200px;
  object-fit: cover;
}

.main_profile_box h1{
  font-family: Papyrus, fantasy;
  font-size: 40px;
  letter-spacing: 0.1em;
  margin-top: 0px;
  margin-bottom: 5px;
}

.main_profile_box h2{
  margin-bottom: 10px;
  font-weight: 100;
}

.main_profile_box h3{
  font-family:"Lucida Console";
}

.main_profile_box p{
  letter-spacing: 1;
}

.main_profile_social_icons{
  font-size: 40px;
  letter-spacing: 7;
}

.main_profile_social_icons a{
  color: white;
}

.main_scrolldown_box a {
	position: absolute;
	bottom: 10px;
	left: 48.5%;
	z-index: 2;
	display: inline-block;
	-webkit-transform: translate(0, -50%);
	transform: translate(0, -50%);
	color: #fff;
	font : normal 400 20px/1 'Josefin Sans', sans-serif;
	letter-spacing: 2;
	text-decoration: none;
	transition: opacity .3s;
}

.main_scrolldown_box a:hover {
	opacity: .5;
}

.main_scrolldown_box section a{
  padding-top: 50px;
}

.main_scrolldown_box section a span{
  position: absolute;
	top: 0;
	left: 48.5%;
	width: 46px;
	height: 46px;
	margin-left: -23px;
	border: 1px solid #fff;
	border-radius: 100%;
	box-sizing: border-box;
}

.main_scrolldown_box section a span::after {
	position: absolute;
	top: 50%;
	left: 50%;
	content: '';
	width: 16px;
	height: 16px;
	margin: -12px 0 0 -8px;
	border-left: 1px solid #fff;
	border-bottom: 1px solid #fff;
	-webkit-transform: rotate(-45deg);
	transform: rotate(-45deg);
	box-sizing: border-box;
}

.main_scrolldown_box a span::before {
	position: absolute;
	top: 0;
	left: 0;
	z-index: -1;
	content: '';
	width: 44px;
	height: 44px;
	box-shadow: 0 0 0 0 rgba(255,255,255,.1);
	border-radius: 100%;
	opacity: 0;
	-webkit-animation: sdb03 3s infinite;
	animation: sdb03 3s infinite;
	box-sizing: border-box;
}

@-webkit-keyframes sdb03 {
	0% {
		opacity: 0;
	}
	30% {
		opacity: 1;
	}
	60% {
		box-shadow: 0 0 0 60px rgba(255,255,255,.1);
		opacity: 0;
	}
	100% {
		opacity: 0;
	}
}
@keyframes sdb03 {
	0% {
		opacity: 0;
	}
	30% {
		opacity: 1;
	}
	60% {
		box-shadow: 0 0 0 60px rgba(255,255,255,.1);
		opacity: 0;
	}
	100% {
		opacity: 0;
	}
}

/**** END MAIN PROFILE PAGE STYLE ****/

/**** NAV BAR STYLE ****/

.nav_bar{
  width: 100%;
  text-align: center;
  left: 0;
}

#custom-bootstrap-menu.navbar-default .navbar-brand {
    color: rgba(7, 55, 99, 1);
}
#custom-bootstrap-menu.navbar-default {
    font-size: 18px;
    background-color: rgba(255, 255, 255, 1);
    border-width: 4px;
    border-radius: 31px;
}
#custom-bootstrap-menu.navbar-default .navbar-nav>li>a {
    color: rgba(7, 55, 99, 1);
    background-color: rgba(248, 248, 248, 0);
}
#custom-bootstrap-menu.navbar-default .navbar-nav>li>a:hover,
#custom-bootstrap-menu.navbar-default .navbar-nav>li>a:focus {
    color: rgba(255, 255, 255, 1);
    background-color: rgba(7, 55, 99, 1);
}
#custom-bootstrap-menu.navbar-default .navbar-nav>.active>a,
#custom-bootstrap-menu.navbar-default .navbar-nav>.active>a:hover,
#custom-bootstrap-menu.navbar-default .navbar-nav>.active>a:focus {
    color: rgba(255, 255, 255, 1);
    background-color: rgba(7, 55, 99, 1);
}
#custom-bootstrap-menu.navbar-default .navbar-toggle {
    border-color: #073763;
}
#custom-bootstrap-menu.navbar-default .navbar-toggle:hover,
#custom-bootstrap-menu.navbar-default .navbar-toggle:focus {
    background-color: #073763;
}
#custom-bootstrap-menu.navbar-default .navbar-toggle .icon-bar {
    background-color: #073763;
}
#custom-bootstrap-menu.navbar-default .navbar-toggle:hover .icon-bar,
#custom-bootstrap-menu.navbar-default .navbar-toggle:focus .icon-bar {
    background-color: #ffffff;
}
/**** END NAV BAR STYLE ****/

/**** ABOUT ME PAGE STYLE ****/

.AboutMe_page{
  position: absolute;
  background: url(../images/About_Me_back.jpg) no-repeat center center;
  width: 100%;
  height: 100%;
}

.AboutMe_page h1{
  align-self: center;
  padding-left: 70%;
  padding-top: 5%;
  font-size: 40px;
  letter-spacing: 0.1em;
  margin-top: 0px;
  margin-bottom: 5px;
}

.about_me_para{
  background:#fefabc;
  margin-left: 10%;
  padding:15px;
  font-family: 'Gloria Hallelujah', cursive;
  font-size:15px;
  color: #000;
  width:500px;
  -moz-transform: rotate(5deg);
  -webkit-transform: rotate(5deg);
  -o-transform: rotate(5deg);
  -ms-transform: rotate(5deg);
  transform: rotate(5deg);
  box-shadow: 0px 4px 6px #333;
  -moz-box-shadow: 0px 4px 6px #333;
  -webkit-box-shadow: 0px 4px 6px #333;
}

.about_me_education{
  background:#fefabc;
  margin-left: 25%;;
  padding:15px;
  font-family: 'Gloria Hallelujah', cursive;
  font-size:15px;
  color: #000;
  width:400px;
  -moz-transform: rotate(-7deg);
  -webkit-transform: rotate(-7deg);
  -o-transform: rotate(-7deg);
  -ms-transform: rotate(-7deg);
  transform: rotate(-7deg);
  box-shadow: 0px 4px 6px #333;
  -moz-box-shadow: 0px 4px 6px #333;
  -webkit-box-shadow: 0px 4px 6px #333;
}

/**** END ABOUT ME PAGE STYLE ****/
